<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ship.web.board.ArticleMapper">
<!-- 	<resultMap type="" id=""></resultMap>
	<parameterMap type="" id=""></parameterMap> -->
	
    <insert id="insertArticle" parameterType="Article">
        insert into ARTICLE (ARTSEQ, TITLE, USER_ID, CONTENT)
        VALUES (#{artseq}, #{title}, #{uid}, #{content})
    </insert>
    <select id="countUserArticle" resultType="int">
        select count(USER_ID)
        from ARTICLE
        where USER_ID like #{uid}
    </select>
    <select id="userArticleList" resultType="Article">
        select ARTSEQ, TITLE, CONTENT, USER_ID as uid
        from ARTICLE
        where USER_ID like #{uid}
    </select>
    <select id="selectAll" resultType="Article">
        select a.USER_ID as uid, a.*
        from ARTICLE a
    </select>
    <update id="update" parameterType="Article">
        UPDATE ARTICLE
        SET TITLE = #{title}, CONTENT = #{content} 
        WHERE ARTSEQ = #{artseq}
    </update>
    <delete id="delete" parameterType="Article">
        DELETE FROM ARTICLE
		WHERE ARTSEQ = #{artseq}
    </delete>
    <select id="selectPage" resultType="Article">
        select * from article p
		order by 1 desc
		LIMIT ${page}, ${pagesize}
    </select>
    
</mapper>